body {
  /* 배경 색상 */
  background-color: hsl(180, 50%, 80%);
  /* 배경 이미지 */
  background-image: url(/src/assets/images/rabbit.png);
  /* 배경 이미지 반복 여부 (반복 안함) */
  /* background-repeat: repeat-x,y; 을 하면 x(y)축으로 반복을 설정할 수 있다. */
  background-repeat: no-repeat;
  /* 배경 이미지 위치 (단축 표기법) */
  background-position: 50% 0;
  /* background-position-x: 1.875rem;
  background-position-y: 2.5rem; */

  /* body 요소의 최소 높이 */
  min-height: 100vh;

  /* 이미지를 화면에 고정하려면 fixed */
  /* 이미지를 화면에 우리가 아는 스크롤 처럼 흘러가게 하려면 scroll*/
  background-attachment: scroll;

  /* 좌우를 최대한으로 출력하려면 cover */
  /* 상하를 최대한으로 출력하려면 contain */
  background-size: contain;

  /* 쌓이는 영역에 대한 이슈가 생김  */
  /* 배경에서는 먼저 호출된 이미지가 제일 앞이고 그 이후는 이미지 뒤로 추가된다. */
  /* 이미지의 크기는 단축표기법을 사용할 때 /뒤에 적어야 한다. */
  background:
    url(/src/assets/images/cloud.png) no-repeat 0 100px fixed,
    url(/src/assets/images/sun.png) no-repeat 150px 50px /150px 50px fixed,
    /*  linear-gradint로 그라데이션 효과를 낼 수 있다.*/
      linear-gradient(red, green),
    pink;
}
